extends layout.pug
block content
    section#content
        h2= prompt

        //- ul
        //-     each color in colors
        //-         li= color

        if hint
            p
                i Hint: #{hint}
        else 
            p (There is not hint)
